@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");



body{

    background-color: #1f2029;
}

:root{
    --font-family: "Roboto", sans-serif;
--normal-font: 400;
--bold-font:700;
--bolder-font:900;
--font-color: white;
--bg-color: rgb(0, 0, 0.3);
--second-bg-color: #080808;
--primary-color: #6bd370;
--secondary-color: #bafd3d;
--primary-shadow: #000000;
--secondary-shadow: #a17a69;
--bottom-margin: 0.5rem;
--bottom-margin-2:1rem;
--line-height: 1.7rem;
--transition:0.3s;
--scroll-color: #bcfc45;

}









html{
    scroll-behavior: smooth;
}

/*CSS Resets*/

h1{
    color: #fcfcfc;
    font-weight: 600;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
    color: var(--primary-color);
}



body{
    font-family: var(--font-family);
    background-color:var(--second-bg-color);

    
&.claro{
    --font-family: "Roboto", sans-serif;
--normal-font: 400;
--bold-font:700;
--bolder-font:900;
--font-color: rgb(27, 26, 26);
--bg-color: #fcfbfb;
--second-bg-color: #f6f6f6;
--primary-color: #78a2f1;
--secondary-color: #0e7a88;
--primary-shadow: #8b8eaf;
--secondary-shadow: #a17a69;
--bottom-margin: 0.5rem;
--bottom-margin-2:1rem;
--line-height: 1.7rem;
--transition:0.3s;
--scroll-color: #8e8f8b;


nav a{
    color: var(--secondary-color);
}

nav{
    box-shadow:0 0 10px #6666666c;
}

.more-about-img{
    filter: invert(100%);
}

.img-contact{
    filter: invert(0);
}

.projects{
    background: var(--secondary-color);
}
.div-projects .me{
    margin-left: 10px;
    color: #c3e6ecfd;
}
}
}

ul{
    list-style: none;
}


nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  2rem 3.5rem;
    background-color: var(--bg-color);
    z-index: 2;
   
}

.more-about-img{
    animation: slideRight 10s ease forwards;
    transition: transform 2s ease;
}


nav h1{
    animation: slideRight 1s ease forwards;
    transition: transform 2s ease;
    color: var(--font-color);
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 2px;
}



nav .apellido{

    text-shadow: 0px 0px 15px #bcfc45;
    color: var(--secondary-color);
}

nav h1:hover{
    transform: scale(1.08);
    transition: 2s;
}

nav a{
    transition: var(--transition);
    opacity: 0;
    animation: slideTop .5s ease forwards;
     
}

nav ul{
    display: flex;
    gap: 1.7rem;
}

nav ul a{
    font-weight: var(--bold-font);
 
}


nav .switch {
    width: auto;
    height: 30px;
}

.switch img{
    align-content: center;
   
    width: 20px;
}

.switch{
  background: linear-gradient(90deg, #1f2029,#343D5B );
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;

    
&::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px  rgba(0, 0, 0, .2);
}

&.active{
    background:  #fff458;

    color: #000;

    &::after{
        right: 0;
        left: unset;
    }

}
}


.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

/*Inicio de hero*/

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: 90px 50px;
   
    
}

.hero img{
    transition: transform 2s ease; 
margin-bottom: 50px;
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px var(--secondary-color);
}

.hero img:hover{
    transform: scale(1.05);
    transition: 2s;
}
.bio{
    color: var(--font-color);
    width: 600px;
    height: auto;
    padding: 2rem 3rem;
   
    justify-content: left;
    word-wrap: break-word; /* Ajusta las palabras largas */
    overflow-wrap: break-word; /* Ajusta las palabras largas */
}

.bio p{
    color: var(--font-color);
    font-size: 15px;
    line-height: var(--line-height);
    animation: slideleft 1s ease forwards;

  
}

.bio h2{
    font-weight: 600;
    font-size: 55px;
}

.bio h3{
    font-size: 30px;
    font-weight: 600;
    animation: slidebottom .7s ease forwards;
   
    
}

/* ANIMACIONES */

@keyframes slideRight{
    0%{
        transform:  translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slideleft{
    0%{
        transform:  translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform:  translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}





/*FIN ANIMACIONES*/


.more-about{
    width: 100%;
   display: flex;
align-items: center;
   margin-top: 150px;
    background-color: var(--bg-color);
    padding: 1rem 6rem;
    word-wrap: break-word; /* Ajusta las palabras largas */
    overflow-wrap: break-word; /* Ajusta las palabras largas */

}

.more-about img{
    width: 300px;
    height: 400px;
    object-position: center;
    object-fit: cover;
    margin: 15px 20px 15px -30px;

}

.div-me{
    text-align: center;
    margin-left: 25%;
    display: inline-flex;
    gap: 6px;
}

.div-me h2{
   font-weight: 600;
    text-align: center; 
    font-size: 45px;
 
}

.div-me .me{
    color: var(--secondary-color);
    text-shadow: 0 0 3px var(--secondary-color);
}

.more-about h2{
    margin-bottom:  var(--bottom-margin);
    text-align: center;
    color: var(--font-color);
}

.more-about p{
    margin-left: 20px;
    text-align: justify;
    line-height: var(--line-height);
    padding:  0.4rem;
    color: var(--font-color);
}



/*BOTONES NEON DE LA BARRA NAVVV*/
/**/

.btn-neon{
    position: relative;
    display: inline-block;
    padding: 6px 20px;
    color: var(--font-color) ;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 18PX;
    overflow: hidden;
    transition: 0.2s;
}

.btn-neon:hover {
    /*
    background: var(--secondary-color);
    box-shadow: 0 0 8px var(--secondary-color), 0 0 20px var(--secondary-color), 0 0 30px var(--secondary-color);
    */
    transition-delay: 1s; /* Retrasa la transición por 1 segundo */
}

.btn-neon span {
    position: absolute; 
    display: block; 
}

#span1 {
    /* linea horizontal superior */
    top: 0;
    left: -100%; /* Fuera de la vista inicialmente */
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--primary-color)); 
}

.btn-neon:hover #span1 {
    /* linea horizontal superior */
    left: 100%; /* izquierda a derecha */
    transition: 1s; 
}

#span3 {
    /* linea horizontal d abajo */
    bottom: 0;
    right: -100%; /* Fuera de la vista inicialmente */
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--secondary-color)); 
}

.btn-neon:hover #span3 {
    /* linea horizontal d abajo*/
    right: 100%; /* Se mueve de derecha a izquierda */
    transition: 1s; 
    transition-delay: 0.5s; 
}

#span2 {
    
    top: -100%; /* Fuera de la vista inicialmente */
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--primary-color)); 
}

.btn-neon:hover #span2 {
    /* movimiento linea vertical derech*/
    top: 100%; /*de arriba hacia abajo */
    transition: 1s;
    transition-delay: 0.25s; 
}

#span4 {
    /* Barra vertical izquierda */
    bottom: -100%; /* Fuera de la vista inicialmente */
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--secondary-color)); 
}

    /* Movimiento linea vertical izquierda*/
.btn-neon:hover #span4 {
    bottom: 100%; /*  de abajo hacia arriba */
    transition: 1s;
    transition-delay: 0.75s; /* Retrasa el inicio de la transition */
}



/*redes*/

.red {
    display: inline-flex;
  }
  
  .red li {
    list-style: none;
    margin: 15px;
  }
  
  .red li a {
    position: relative; 
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: var(--bg-color);
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }

 /* Pseudo-elemento para crear un fondo circular detrás del enlace */
  .red li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--secondary-color);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }


 /* Efecto de agrandamiento y sombra */  .red li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--secondary-color);
  }

/* Cambio de color de fondo y texto */
  .red li a:hover {
    background-color: var(--secondary-color);
    color: var(--bg-color);
    box-shadow: 0 0 2px var(--secondary-color);
 
  }




/*TEXTO ANIMADO TIPO ESCRITURA*/
.animated-text{
    font-size: 20px;
    font-weight: 600;
    min-width: 280px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before {
    content: " "; /* Inserta un espacio antes del contenido del span */
    color: var(--secondary-color); 
    animation: words 20s infinite; /* Aplica la animación 'words' */
}

.animated-text span::after {
    content: ""; 
    position: absolute;
    width: calc(100% + 8px); 
    height: 100%; 
    background-color: var(--second-bg-color); 
    border-left: 4px solid #ffffffd5; /* Borde izquierdo sera la linea de nuestra escitura*/
    right: -10px; /* Posiciona a la derecha y lo separo un poco del texto*/
    animation: cursor .8s infinite, typing 20s steps(14) infinite; /* Aplico las animaciones 'cursor' y 'typing' */

/* Animación para el cursor intermitente */
@keyframes cursor {
    to {
        border-left: 2px solid #ff7f5000; /* Cambia el color del borde izquierdo para simular el parpadeo del cursor */
    }
}

/* Animación para cambiar las palabras */
@keyframes words {
    0%, 20% {
        content: "a student"; /* Primer conjunto de palabras */
        color: var(--secondary-color); /* Color del texto */
    }
    21%, 40% {
        content: "Web Designer"; /* Segundo conjunto de palabras */
        color: var(--secondary-color);
    }
    41%, 60% {
        content: "a future engineer"; /* Tercer conjunto de palabras */
        color: var(--secondary-color);
    }
    61%, 80% {
        content: ""; /* Espacio vacío */
        color: var(--secondary-color);
    }
    81%, 100% {
        content: ""; /* Espacio vacío */
    }
}

/* Animación para el efecto de escritura */
@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0; /* Oculta el texto */
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px); /* Muestra el texto con un pequeño ajuste de ancho */
    }
}

/*SKILLS*/
.inner{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 90px;

}
.div-skills{
    display: inline-flex;
    gap: 6px;
}

.div-skills h2{
   font-weight: 600;
    text-align: center; 
    font-size: 50px;
    color: var(--font-color);
 
}

.div-skills .me{
    color: var(--secondary-color);
    text-shadow: 0 0 3px var(--secondary-color);
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
      grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box{
    padding: 1rem;
    color:var(--font-color) ;
    cursor: pointer;
}

.skills{
    margin-bottom: 100px;
}

.skill-box p{
    text-align:center ;
}


.skill-title{
    display: flex;
    flex-direction: column ;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.rem;
}

.skill-title p{
    text-align: justify; 
}

.title {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    display: inline-block;
}

.underline {
    display: block;
    height: 4px;
    width: 0;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -7px; /* Ajusta esta distancia para separar la línea del texto */
    left: 0;
    transition: width 0.1s ease;
}

.title:hover .underline {
    width: 100%;
}


.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img:after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 90px;
    background:  rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
    
    }


.img img:hover{
    transform: scale(1.2);
    transition: 2s;
}

.skill-title h3{
    color: var(--font-color);
    margin: 0.7rem;

}



.skill-icon{
    width: 55px;
    z-index: 1;

}

/*PROYECTOSSS*/
.projects {min-height: 770px;
    padding: 32px 0;
    margin-top: 2rem;
    color: var(--font-color);
    text-align: center;
    background-color: var(--bg-color);
    padding: 50px;
    padding-bottom: 100px;
}

.div-projects {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    transition: var(--transition);

  
    animation: slideTop .5s ease forwards;
}

.div-projects h2 {
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    color: var(--font-color);
    
}

.div-projects .me {
    color: var(--secondary-color);
    text-shadow: 0 0 3px var(--secondary-color);
}

.projects-container {
    
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.project-card {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 350px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color:var(--second-bg-color);
    box-shadow: 0 0 10px rgba(27, 27, 27, 0.651);
}

.project-card h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.project-pic {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project-pic:hover{
    cursor:pointer;
   filter: contrast(.5);
    transition: filter 1s ease;
}

.project-details {
    font-size: 15px;
    margin-bottom: 15px;
    text-align: justify;
}

.project-link a {
    color: var(--secondary-color);
    font-weight: var(--bolder-font);
}

.project-link:hover{
    transform: scale(1.2);
    text-shadow: 0 0 2px var(--secondary-color);
    transition: 2s ease;
}


/*-------SCROLL BUTTON-------*/
.scroll-up{
    position: fixed;
    z-index: 2;
    right: 0.5%;
    bottom:3%;
    border-radius:50%;
    object-fit: cover;
    color: var(--font-color);
    background-color: var(--secondary-color);
}


.scroll-up:hover{
    background-color: #f1f1f1;

}

/*BARRA DE DESPLAZA*/

::-webkit-scrollbar {
    width: 2px; /* Ancho de la barra de desplazamiento */
  }
  

  ::-webkit-scrollbar-track {
    background: var(--second-bg-color) 
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color)
  
  }
  

  footer{
    
    margin-top: 200px;
    letter-spacing: 2px;
    background-color: var(--secondary-color);
    padding: 50px 20px 30px 20px;
    align-content: center;
    text-align: center;
    color: var(--bg-color);
    box-shadow: 0 0 10px var(--primary-shadow);
    font-weight: 600;
    font-family: 'Franklin Gothic Medium';
    text-shadow:0 0 10px var(--primary-color);
  

  }

footer h2{
    font-size: 21px;
}



      /*---------ESCONDER MENU-----------*/



      .burger-menu{
        color: var(--secondary-color);
        font-size: 2rem;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        display: none;
      }


      

    @media screen and (max-width: 720px){
        nav{
            padding: 1.5rem 1rem;
        }
    }

    /*----MEDIA QUERIES---*/

    
    @media (max-width: 900px) {

        
        nav ul {
            position: fixed;
            background-color: var(--bg-color);
            flex-direction: column;
            top: 86px;
            left: 10%;
            width: 80%;
            text-align: center;
            transform: translateX(120%);
            transition: transform 0.5s ease-in;
        }
    
        nav ul li{
            margin: 8px;
        }

        .burger-menu {
            display: block;
            color: var(--secondary-color);
            font-size: 2rem;
            background-color: transparent;
            border: none;
        }

        nav ul.show{
            transform: translateX(0);
        }

        .hero{
            margin-top: -1rem;
            flex-direction: column;
            gap: 0;
        }

        .hero img{
            height:300px ;
            width: auto;
        }

        .bio{
        
            width: 28rem;
        }

        .bio p{
            text-align: justify;
        }

        .bio h2{
            font-size: 45px;
        }

        .bio h3{
            font-size: 25px;
        }

        .more-about{
            margin-top: 2rem;
            padding: 1rem 3.5rem;
            display: flex;
            flex-direction: column;
        }

        .more-about h2{
            text-align: center;
            font-size: 25px;
        }

        .more-about p{
            text-align: justify;
            font-size: 15px;
        }

        .icon{
            width: 5.875rem;
            height: 5.25rem;
        }

        .skill-icon{
            width: 50px;
        }
.skill-title h3 {
    font-size: 20px;
}

.skills p{
    font-size: 12px;
    
}

.contact{
    display: flex;
    flex-direction: column;
    gap:0
}

.container-contact{
    flex-direction: column;
}



.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
      grid-gap: 1rem;  
    }

    
.container-contact{
    align-items:center;
    align-content: center;
    display: flex;
    gap: 0px;
    object-fit: cover;
}

.img-contact{
    margin-top: -20px;
    filter: invert(100%);
}
.img-contact img{
    height: 400px;
    width: 400px;
margin-left: 0px;
margin-right: 0px;
border-radius: 50%;
}

.contact form{
    width: 300px;
    text-align: center;
}


    .skill-box{
        width: 250px;
    }
}


    @media (max-width: 420px) {
  
        .container-contact{
            align-items:center;
            align-content: center;
            display: flex;
            gap: 0px;
            object-fit: cover;
        }
        
        .img-contact{
            margin-top: -20px;
            filter: invert(100%);
        }
        .img-contact img{
            height: 300px;
            width: 300px;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 50%;
        }
        
        .contact form{
            width: 200px;
            text-align: center;
        }

        
nav{
    width: 420px;
    margin-right: -10px;
    margin-left: 0;
}
        
        nav ul {
            position: fixed;
            background-color: var(--bg-color);
            flex-direction: column;
            top: 86px;
            left: 10%;
            width: 50%;
            text-align: center;
            transform: translateX(190%);
            transition: transform 0.5s ease-in;
          
         
        }
    
        nav ul li{
            margin: 8px;
            font-size: 15px;
        }

        .burger-menu {
            display: block;
            color: var(--secondary-color);
            font-size: 2rem;
            background-color: transparent;
            border: none;
        }

        nav ul.show{
            transform: translateX(0);
        }

        .hero{
            margin-top: -1rem;
            flex-direction: column;
            gap: 0;
        }

        .hero img{
            height:200px ;
            width: auto;
        }

        .bio{
        
            width: 19rem;
        }

        .bio p{
            text-align: justify;
        }

        .bio h2{
            font-size: 29px;
        }

        .bio h3{
            font-size: 19px;
        }

        .more-about{
            margin-top: 2rem;
            padding: 1rem 3.5rem;
            display: flex;
            flex-direction: column;
        }

        .more-about h2{
            text-align: center;
            font-size: 25px;
        }

        .more-about p{
            text-align: justify;
            font-size: 10px;
        }


        .skill-icon{
            width: 30px;
        }
.skill-title h3 {
    font-size: 15px;
}

.skills p{
    font-size: 9px;
    
}

.container-contact{
    flex-direction: column;
}
  
    }
    
    
/*-------------------------------------------*/    


/*contact*/
.field input:focus-within{
    background-color: var(--secondary-color);
    color: var(--bg-color);
}
.contact{
 
    padding: 50px;
  
}
.container-contact{
    align-items:center;
    align-content: center;
    display: flex;
    gap: 50px;
    object-fit: cover;
}

.img-contact{
    margin-top: -20px;
    filter: invert(100%);
}
.img-contact img{
    height: 500px;
    width: 500px;
margin-left: 30px;
margin-right: 50px;
border-radius: 50%;
}

.img-contact img:hover{
box-shadow: 0 0 30px var(--primary-color);
    transition: 2s;
}
.contact form{
    width: 600px;
    text-align: center;
}

form .input-box{
    display: flex;
    justify-content: space-between;
}

.input-box .input-field{
    width: 47.5%;
}

.field .item{
    width:100%;
    padding: 16px;
    background: transparent;
    border: 2px solid var(--secondary-color);
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    color: var(--font-color);
    margin: 17px 0 ;
}

.field .item::placeholder{
    color: var(--font-color);
    opacity: 70%;
}

form .textarea-field .item{
resize: none;
}

form button{
    padding: 12px 32px;
    background: var(--secondary-color);
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px var(--secondary-color);
    font-size: 16px;
    color: var(--font-color);
    letter-spacing: 1px;
    font-weight: 600;
    cursor:pointer;
    margin-top: 20px;
    transition: .5s ease;
}

form button:hover{
    box-shadow: none;
}

.field .error-txt{
    font-size: 14.5px;
    color: #d93875;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

form .textarea-field .error-txt{
    margin-top: -10px;

}





.img-footer{
    width: 90px;
    height: auto;
}
